@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


 
@theme {
    /* PRIMARY */
    --color-primary-50: #f5f3ff;
    --color-primary-100: #ede9fe;
    --color-primary-200: #ddd6ff;
    --color-primary-300: #c4b4ff;
    --color-primary-400: #a684ff;
    --color-primary-500: #8e51ff;
    --color-primary-600: #7f22fe;
    --color-primary-700: #7008e7;
    --color-primary-800: #5d0ec0;
    --color-primary-900: #4d179a;
    --color-primary-950: #2f0d68;
 
    /* neutral (neutral) */
    --color-neutral-50: #f8fafc;
    --color-neutral-100: #f1f5f9;
    --color-neutral-200: #e2e8f0;
    --color-neutral-300: #cbd5e1;
    --color-neutral-400: #94a3b8;
    --color-neutral-500: #64748b;
    --color-neutral-600: #475569;
    --color-neutral-700: #334155;
    --color-neutral-800: #1e293b;
    --color-neutral-900: #0f172a;
    --color-neutral-950: #020617;
 
    /* Optional semantic aliases (handy for components) */
    --color-background: var(--color-neutral-50);
    --color-foreground: var(--color-neutral-900);
 
    --color-primary: var(--color-primary-600);
    --color-neutral: var(--color-neutral-700);
}
 
@theme .dark {
    --color-background: var(--color-neutral-900);
    --color-foreground: var(--color-neutral-50);
 
    --color-primary: var(--color-primary-500);
    --color-neutral: var(--color-neutral-200);
}
 
 